/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "foundation";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($radius, $color) {
  -webkit-box-shadow: $radius $radius $radius $radius $color;
  box-shadow: $radius $radius $radius $radius $color;
}

@mixin block-grid-margin(
  $per-row:false, 
  $spacing:$block-grid-default-spacing, 
  $include-spacing:true,
  $base-style:true,
  $margin:0) {
  @include block-grid(
    $per-row, 
    $spacing, 
    $include-spacing, 
    $base-style);

  @if $per-row {
    &>li {
      $width: (100% - 2 * $per-row * $margin) / $per-row;
      width: $width;
      margin: $margin;
    }
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #d8d8d8;
}

#header {
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
}

#left-header,
#right-header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 100;
} 

#left-header {
  float: left;
}

#right-header {
  text-align: right;
  float: right;
}

#question-card {
  width: 180px;
  height: 225px;
  margin: 0 auto;
  padding: 1.2%;
  background-color: #000;
  @include border-radius(7px);
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

#cards {
  @include block-grid-margin(
    $per-row: 5,
    $spacing: rem-calc(30),
    $base-style: true,
    $margin: 1%
  );
}

.card {
  background-color: #fff;
  @include border-radius(10px);
  @include box-shadow(2px, #a6a6a6);
  font-size: 1.1rem;
  font-weight: 700;
}