<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/game.css' />
  </head>
  <body>   
    <div id="chat-wrapper">
      <div id="questionCard">
      </div>
      <div id="users">
       <b>Users:</b>
      </div>
      <div id="chat">
      </div>
      <form id="message-form" autocomplete="off">
        <input id="message" />
      </form>
    </div>
    <div id="game">
      <div id="description">Choose one.  <span id="timer">3:00</span></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src='http://code.jquery.com/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src="/javascripts/game.js"></script>
    <script src="/javascripts/game-ui.js"></script>
  </body>
</html>