<html>
<head>
	<title>Cards Against Humanity</title>
	<link rel='stylesheet' href='/stylesheets/screen.css'/>
</head>
<body>
	<div id="header">
		<div id="left-header">
			Card Czar: Smitha
			<br/>Choose a card!
			<br/><span id="timer">3:00</span>
		</div>
		<div id="right-header">
			Cards Won:<br/>None yet
		</div>
		<div id="question-card">
			Due to a PR fiasco, Walmart no longer offers _____.
		</div>
	</div>
	<div id="cards">

	<ul id="cards">
		<li class="card">Unfathomable stupidity</li>
		<li class="card">Balls</li>
		<li class="card">Self-loathing</li>
		<li class="card">My genitals</li>
		<li class="card">A middle-aged man on roller skates</li>
		<li class="card">The World of Warcraft</li>
		<li class="card">Mr. Clean, right behind you</li>
		<li class="card">A sea of troubles</li>
		<li class="card">Child abuse</li>
		<li class="card">Black people</li>
	</ul>
<script src="/socket.io/socket.io.js"></script>
<script src='/javascripts/jquery.js' type='text/javascript'></script>
<script src="/javascripts/foundation.min.js" type="text/javascript"></script>
</html>