<html>
<head>
	<title>Cards Against Humanity</title>
	<link rel='stylesheet' href='../public/stylesheets/test.css' />
</head>
<body>
<div id="header">
	<div id="left-header">
	Card Czar: Smitha
	<br/>Choose a card!
	<br/><span id="timer">3:00</span>
	</div>
	<div id="question-card">
	Due to a PR fiasco, Walmart no longer offers _____.
	</div>
	<div id="right-header">
	Cards Won:<br/>None yet
	</div>
</div>
<div id="cards">
	<div class="card">Unfathomable stupidity</div>
	<div class="card">Balls</div>
	<div class="card">Self-loathing</div>
	<div class="card">My genitals</div>
	<div class="card">A middle-aged man on roller skates</div>
	<div class="card">The World of Warcraft</div>
	<div class="card">Mr. Clean, right behind you</div>
	<div class="card">A sea of troubles</div>
	<div class="card">Child abuse</div>
	<div class="card">Black people</div>
</div>
<div id="chat">
	<div id="users"></div>
	<div id="messages"></div>
	<input id="send-message"></input>
</div>
</body>
</html>