*, *:before, *:after {
  box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

html, body{
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
  overflow-y: hidden;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat-wrapper{
  float: left;
  height: 100%;
  width: 25%;
  border-right: solid 1px #000;
  background-color: #151515;
}

#questionCard{
  height: 30%;
  color: #fff;
  font-size: 2rem;
  border-bottom: 1px solid #585858;
  overflow: auto;
}

#usersDiv{
  padding: 5px;
  height: 10%;
  background-color: #585858;
  color: #fff;
  text-align: center;
}

#users{
  list-style: none inside;
  padding-left: 0;
}

#users li{
  float: left;
  padding-left: 2%;
}

#chat{
  height: 50%;
  background-color: #D8D8D8;
  overflow: auto;
}

#message-form{
  height: 10%;
}

#message{
  width: 100%;
  height: 30px;
}

#submit-message{
  width: 100%;
}

#game{
  float: left;
  width: 75%;
  height: 100%;
  background-color: #F2F2F2;
  border: solid 1px #000;
}

#fade{
  position: fixed;
  width: 75%;
  height: 100%;
  background-color: #000;
  opacity: .82;
  z-index: 90;
}

#overlay{
  position: absolute;
  display: block;
  margin: auto;
  width: 35%;
  left: 45%;
  top: 30%;
  background-color: #D8D8D8;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 3px 3px 5px 3px #262626;
  box-shadow: 3px 3px 5px 3px #262626;
  color: #262626;
  text-align: center;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 1.5rem;
  z-index: 100;

}

#overlay #link{
  color: #585858;
  font-size: 1.5rem;
}

#start{
  padding: 25px;
  width: 100%;
  font-size: 40px;
  color: #262626;
  border: 0;
  outline: none;
  background-color: #D8D8D8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#start:hover{
  background-color: #ccc;
  cursor: pointer;
}

#description{
  text-align: center;
  font-size: 2rem;
  margin: 1%;
}

#timer{
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  background-color: #000;
  color: #fff;
}

#cards{
  width: 100%;
  height: 100%;
}

#chosen-cards{
  display: none;
  width: 100%;
  height: 100%;
}

.no-hover .card:hover{
  background-color: #fff;
}

.card{
  float: left;
  width: 18%;
  height: 35%;
  overflow: auto;
  margin: 1%;
  padding: 1%;
  background-color: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.card:hover{
  background-color: #D8D8D8;
}